{% extends 'base.html.twig' %}

{% block title %}Sepas index{% endblock %}

{% block body %}
    <h1>Résultat de votre autorisation de prélèvement</h1>
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('homepage') }}" class="btn btn-outline-primary">Retour &agrave; au menu</a>
        <a href="{{ path('app_sepas_index') }}" class="btn btn-outline-primary">Retour à la liste des demandes de prélèvement</a>
    {% endif %}
{% endblock %}
